.main-container{
  margin-top: 60px;
  margin-left: 25%;
  padding: 15px;
  width: 50%;
  height: 700px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
  border: 2px solid white !important;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 10px;
}

